.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .warp {

} */

.btn {
    display: flex;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}